

@import "../foundation.min.css";
@import "../normalize.css";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);



element.style {
display: block;
}
body{background-color:#9A9CA1;
margin:0;
color:#ffffff;
font-size: 1.125em; /* 18px / 16px */
   line-height: 1.7em;

}

div.columns {
padding-top: 2em;
padding-bottom: 2em;
}
a{color:black;}
a:hover{color:black;}

.Acanvas{margin:40px;}

.border{
position: fixed;
background-color: white;
z-index: 500;
}
.border.border-top {

width: 100%;
height: 20px;
/*top: -20px;*/
top: 0;
left:0;}

.border.border-left{
width: 20px;
height: 100%;
right: 0;
top: 0;
/*left: -20px;*/

}

.border.border-right {
width: 20px;
height: 100%;
left: 0;
/*right: -20px;*/
top: 0;
}

.border.border-bottom {
width: 100%;
height: 20px;
/*bottom: -20px;*/
bottom: 0;
left: 0;}





.menu {
	position: fixed;
	right: -300px;
	width: 300px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}


.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1f2028;
	width: 290px;
	height: 100%;
}



.menu a {
    text-transform: uppercase;
	margin-left: 20px;
	color: #ffffff;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
}

.menu a:hover {
	color: red;
}

.menu a:active {
	color: #76C4D4;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 21px;
	line-height: 40px;
	margin: 25px 10px;
	position:fixed;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 55px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #DEF1E5;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}
.menu{
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}








#menuToggle {
	position: absolute;
	padding-right: 120px;
	right: 260px;
	top: 30px;
	z-index: 141;
	display: block;
	text-align: center;
	font-size: 24px;
	color: red;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menu-close{
    width: 60px;
	height: 60px;}


#menuToggle:hover {
    color: black;
}

div.band .columns {
	padding-top: 1em;
	padding-bottom: 1em;
}

.band{
	min-width:100% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;

    
}
header.band {
	background-image:url('../../images/BuildingG.png');
	background-size: 100%;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
	color: white;
	text-align: center;
	padding: 30% 0 25% 0;
	z-index:-2;
	
	margin-bottom: 1em;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;
}
h3{color:#5B5C5E;}
h4{color:#3F4042;}

header.band h1 {
    color:#FEFAF3;
	font-size: 5.5em;
	line-height: 1em;
	margin-bottom: .5em;
	text-shadow: 3px 3px 3px rgba(0,0,0,.6);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-align: center;

}
header{height:100%;}
h2{font-family: 'Sorts Mill Goudy', serif;
color:#373738;
font-size: 1.6em;
}
#skillls h2{font-size: 1.6em;}
.og-details h3{font-family: 'Sorts Mill Goudy', serif;
color:#403E3D;}
strong{font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;}

.Acanvas{
   padding-top:100px;
   z-index:10;
   clear:both;
   font-family: "athelas","Georgia","Times",serif;
 }

.panel h3{text-align:center;
font-family: 'Sorts Mill Goudy', serif;
color:#403E3D;}
.panel{text-align: center; 
font-family:georgia;
}
#portfolio h2{text-align: center;}
a.button.outline-outward{background-color:#F70905;
z-index:-20;}

#name h2{
	margin:0;
	padding:0;
}

#name ul{
	list-style-type:none;
}
#profileTitle{font-style:italic;}

#about p {
  text-indent: 1.5em;
}
#contact{margin:0;
	padding-top:2em;}

#technical ul{list-style:square;}
#technical li{
line-height: 24px;}

#chart{padding-bottom:40px;}
#charts li{
   list-style-type:none;
}
#html5{
   color:#4D5360;
}
#css3{
   color:#FDB45C;
}
#js{
   color:#F78205;
 }
#jquery{
    color:#3D6945;
 }
#cli{
    color:#2590E8
 }
#git{
    color:#713780;
 }
#wp{
     color:#46BFBD;
  }
#deployment{
     color:#F7464A;
 }




/*as we don't haver many media queries, we'll stick them all here*/

@media only screen and (max-width: 767px) { 
	
	

body {
   font-size: 1.125em; /* 18px / 16px */
   line-height: 1.7em;
}
	
div.band .columns {
	padding-top: 2em;
	padding-bottom: 2em;
}

header.band {
	background-image:url('../../images/BuildingG.png');
	background-size: 100%;
	-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}
header.band h1 {
		font-size: 4.5em; /*52 / 16*/
}
a.button {
	padding: .75em 1.5em;
}
footer {
	text-align: left;
}

.last {
	text-align: right;
}
.nav { 
    text-align: center; background-color:#EEE1D0;
}
#canvas{
   max-width: 100%;
    height: auto;
}

#charts li{
   list-style-type:none;
}
#html5{
   color:#4D5360;
}
#css3{
   color:#FDB45C;
}
#js{
   color:#F78205;
 }
#jquery{
    color:#3D6945;
 }
#cli{
    color:#2590E8
 }
#git{
    color:#713780;
 }
#wp{
     color:#46BFBD;
  }
#deployment{
     color:#F7464A;
 }
#ROR{
   color:#1C1818;
  }
#name h2{
   text-align:center;
  }
#name h3{
   text-align:center;
   }
#contact{
    text-align:center;
   }
#profile{
    text-align:center;
    }
#skills{
    text-align:center;
    }
#technical{
   text-align:center;
 }
}



@media only screen and (min-width: 768px) { 


}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
#menuToggle{
	left:60px;
}

.border {
position: fixed;
background-color: white;
z-index: 500;
}

.border.border-top {

width: 100%;
height: 10px;
/*top: -10px;*/
top: 0;
left:0;}

.border.border-left{
width: 10px;
height: 100%;
right: 0;
top: 0;
/*left: -10px;*/

}

.border.border-right {
width: 10px;
height: 100%;
left: 0;
/*right: -10px;*/
top: 0;
}

.border.border-bottom {
width: 100%;
height: 10px;
/*bottom: -10px;*/
bottom: 0;
left: 0;
}


header.band h1 {
    
	font-size: 1.5em;
}

.sub-nav a{
font-size: 0.555rem;
}


#name h2{text-align:center;}
#name h3{text-align:center;}
#contact{text-align:center;}
#profile{text-align:center;}
#skills{text-align:center;}
#technical{text-align:center;}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)
and (max-device-width : 480px) {


/* Styles */

#name h2{text-align:center;}
#name h3{text-align:center;}
#contact{text-align:center;}
#profile{text-align:center;}
#skills{text-align:center;}
#technical{text-align:center;}
#menuToggle{
	left:60px;
}


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) 
{
/* Styles */

#menuToggle{
  position: absolute;
  left:60px;
}

.border {
  position: fixed;
  background-color: white;
  z-index: 500;
}

.border.border-top {
  width: 100%;
  height: 10px;
  /*top: -10px;*/
  top: 0;
  left:0;
 }

.border.border-left{
width: 10px;
height: 100%;
right: 0;
top: 0;
/*left: -10px;*/

}

.border.border-right {
width: 10px;
height: 100%;
left: 0;
/*right: -10px;*/
top: 0;
}

.border.border-bottom {
width: 100%;
height: 10px;
/*bottom: -10px;*/
bottom: 0;
left: 0;}

header.band h1 {
    font-size: 1.5em;
	}
.sub-nav a{
font-size: 0.555rem;
}

#name h2{text-align:center;}
#name h3{text-align:center;}
#contact{text-align:center;}
#profile{text-align:center;}
#skills{text-align:center;}
#technical{text-align:center;}
#experience{text-align:center;}
#experienceH{text-align:center;}
#slideLeft h3{text-align:center;}
#slideRight h3{text-align:center;}
#technical ul li{list-style-type:none;}
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
header.band h1 {
    font-size: 3.5em;
	}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */

#name h2{text-align:center;}
#name h3{text-align:center;}
#contact{text-align:center;}
#profile{text-align:center;}
#skills{text-align:center;}
#technical{text-align:center;}
#experience{text-align:center;}
#experienceH{text-align:center;}
#slideLeft h3{text-align:center;}
#slideRight h3{text-align:center;}
#technical ul li{list-style-type:none;}


#menuToggle{
	left:60px;
}
}






















